@charset 'UTF-8';


a {
  color: #222;
  text-decoration : none;
}
a:active {
	outline : none;
}
a:hover
{
	color:#09f;
}
div
{
	display: block;
	position : relative;
}
body
{
		font-size: 12px;
		line-height: 1.5;
		font-family: tahoma,arial,sans-serif;
		margin:5px;
		min-height:500px;
		
}

div 
{
			display: block;
}
#index
{
	background : #FFF;
	width: 960px;
	margin: 0 auto;
}
#header{
width:100%;
height:83px;
}
#welcome
{
	height:140px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#indexshow
{
	height:600px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#activeuser
{
	height:120px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#recommand
{
	height:360px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
	padding-bottom: 24px;
}
#footer
{
	color:#333;
	height:100px;
	border-top:2px solid #09f;
	margin:5px 0 0 20px;
	text-align:right;
}
#re-left
{
	margin:3px;
	background-color:#fff;
	width:60%;
	height:98%;
	float:left;
}
#re-right
{
	margin:3px;
	background-color:#fff;
	width:38%;
	height:98%;
	float:right;
}
ul
{
list-style: none;
}
.img
{
	position: relative;
	float: left;
	width: 200px;
	height: 71px;
	margin-top: 0px;
	margin-left:20px;
	background-image: url(logo.png);
	text-indent: -9999px;
}
.nav
{
	float: right;
	width: auto;
	margin-top:0px;
}
.nav ul
{
	float: left;
	overflow: hidden;
	
}
.nav a
{
	float: left;
	padding: 8px 20px 8px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 4px solid #EBE5E5;
}
.nav a:hover 
{
	border-bottom: 4px solid #09f;
	color:#09f;
	
}
.nav li 
{
	float: left;
	margin: 3px 2px 0 -1px;
	line-height:30px;
	font-size: 14px;
}

.hd-link
{
	margin-top:5px;
	line-height:10px;
	float:right;
}
#topsearch-sub
{
	float: right;
	height: 32px;
	overflow: hidden;
	width:90px;
	border: 1px solid #BAD3E5;
	margin-top:4px;
	
}

#search_field
{
	float:left;
	width: 180px;
	height: 27px;
	padding: 2px 2px 0 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #BABABA;
	margin-top:4px;
	font-size: 12px;
	line-height:23px;
}
#nv-search
{
	margin: -3px 2px 0 -1px;
}
#signin_dialog
{
	display: none;
	position: absolute;
	width: 210px;
	z-index: 1002;
	border: 1px transparent;
	text-align: left;
	padding: 12px;
	top: 22px;
	color: lightSlateGray;
	font-size: 12px;
}



#main{

	background : #FFF;
	display: block;
	position: absolute;
	width: 320px;
	height: 340px;
	border : 2px solid #cfdede;
	z-index:10000;
}

#header1
{
	display: block;
	position: absolute;
	left: 15px;
	top: -4px;
	width:160px;
	height:40px;
	background : url(header.png) no-repeat;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color:white;
	
}

#inner
{
	display:block;
	position: absolute;
	top: 40px;
	left:10%;
	width:80%;
}
#main input
{
color: #666;
font-size: 22px;
width: 100%;

}
#main label
{
	font-size:15px;
}
.button {

display: block;
width: 100%;
height: 45px;
font-size: 20px;
text-align: center;
line-height: 48px;
outline: none;
}
.button a {
color : white;
display : block;
width : 100%;
height : 100%;
background : transparent url(button.png) no-repeat left top;
outline : none;
text-indent : inherit;
}
.button a:hover {
background-position : 0% -45px;
}
.black_overlay{
display:none;
position:absolute;
top:0%;left:0%;
width:100%;
height:100%;
background-color:black;
z-index:1001;
-moz-opacity:0.6;
opacity:.60;
filter:alpha(opacity=60);
}