@charset 'UTF-8';


a {
  color: #222;
  text-decoration : none;
}
a:active {
	outline : none;
}
a:hover
{
	color:#09f;
}
div
{
	display: block;

}

body
{
		font-size: 12px;
		line-height: 1.5;
		font-family: tahoma,arial,sans-serif;
		margin:0px;
		min-height:500px;

}

div 
{
			display: block;
}
.inframe
{
	frameborder: none;
}
#index
{
	background : #FFF;
	width: 980px;
	margin: 0 auto;
}
#header{
width:100%;
height:88px;
}
#userInfo
{
	height:140px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#imgshow
{
	margin:5px 0 0 20px;
	text-align:center;
}
#uploadphoto
{
	height:140px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#photocatalog
{
	height:140px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#welcome
{
	width:960px;
	height:140px;
	margin:5px 0 0 20px;
}
#welcome #showup 
{	
	position:absolute;
	height:140px;
	width:210px;
	background-color:#eee;
	margin-left:135px;
	border: 1px solid #EBE5E5;
}
#welcome #myphoto
{
	position:absolute;
	height:140px;
	width:130px;
	border: 1px solid #EBE5E5;
	background-color:#eee;
	
}
#welcome #showcatch
{
	position:absolute;
	height:140px;
	width:210px;
	border: 1px solid #EBE5E5;
	background-color:#eee;
	margin-left:350px;
}
#welcome #showgroup
{
	position:absolute;
	height:140px;
	width:210px;
	border: 1px solid #EBE5E5;
	background-color:#eee;
	margin-left:565px;
}
#content div
{
	float:left;

}

.pstrength-minchar {
font-size : 10px;
}
#inner span
{
	float:right;
	color:lightSlateGray;
}
#indexshow
{
	height:auto;
	float:left;
	margin:5px 0 0 20px;

}
#activeuser
{
		width:960px;
	height:120px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
}
#recommand
{
	width:960px;
	height:360px;
	border: 1px solid #EBE5E5;
	margin:5px 0 0 20px;
	background-color:#eee;
	padding-bottom: 24px;
}
#footer
{
		width:960px;
	float:left;
	color:#333;
	height:100px;
	border-top:2px solid #09f;
	margin:5px 0 0 20px;
	text-align:right;
}
#re-left
{
	margin:3px;
	background-color:#fff;
	width:60%;
	height:98%;
	float:left;
}
#re-right
{
	margin:3px;
	background-color:#fff;
	width:38%;
	height:98%;
	float:right;
}
ul
{
list-style: none;
}

.img
{
	position: relative;
	float: left;
	width: 280px;
	height: 70px;
	margin-top: 20px;
	margin-left:20px;
	background-image: url(logo.png) ;
	background-repeat:no-repeat;
	text-indent: -9999px;
}
.nav
{
	height:70px;
	float: left;
	width: auto;
	margin-top: 0px;
	margin-left:0px;
}
.nav ul
{
	float: left;
	overflow: hidden;

}

.nav a
{
	float: left;
	padding: 8px 20px 8px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 4px solid #EBE5E5;
	text-decoration: none;
}
.nav a:hover 
{
	border-bottom: 4px solid #09f;
	color:#09f;

}
.nav active
{
	border-bottom: 4px solid #09f;
	color:#09f;
}
.nav li 
{
	float: left;
	margin: 20px 2px 10px -1px;
	line-height:30px;
	font-size: 14px;
}
.
#hd-link
{
	height:20px;
	margin-top:5px;
	line-height:10px;
	float:right;
}

.topsearch-sub
{
	float: right;
	height: 32px;
	overflow: hidden;
	width:90px;
	border: 1px solid #BAD3E5;
	margin-top:4px;

}

#search_field
{
	float:left;
	width: 180px;
	height: 27px;
	padding: 2px 2px 0 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #BABABA;
	margin-top:4px;
	font-size: 12px;
	line-height:23px;
}
#nv-search
{
	margin: 14px 2px 0 -1px;
}

#signin_dialog
{
	
	position: absolute;
	width: 210px;
	z-index: 1002;
	border: 1px transparent;
	text-align: left;
	padding: 12px;
	top:15%;
	right:35%;
	color: lightSlateGray;
	font-size: 12px;

}
#signin_upload
{
	width:80%;
	height:80%;
	min-height:500px;
	display: none;
	position: absolute;
	z-index: 1002;
	background : #fff;

}
#main{

	
	display: block;
	position: absolute;
	width: 320px;
	height: 340px;
	
	z-index:10000;
}
#header #hd-link
{
	float:right;
}
#header1
{
	display: block;
	position: absolute;
	left: 15px;
	top: -4px;
	width:160px;
	height:40px;
	background : url(images/header.png) no-repeat;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color:white;

}

.inner
{
	display:block;
	position: absolute;
	top: 60px;
	left:10%;
	width:80%;
}
.inner a
{
	color:white;
}
.inner a:hover
{
		color:#09f;
}
#main input
{
color: #666;
font-size: 22px;
width: 100%;

}
h1
{
		font-size:3em;
		color:#09f;
}
#inner-left
{
		color:#09f;
		line-height:0.7;
		text-align:right;
		display: block;
		position: absolute;
		float:left;
		top:50px;
		left:-130px;
}
#inner-left a
{
	color:white;
}
#inner-left a:hover
{
	color:#09f;
}
#main label
{
	font-size:15px;
}
.button {

display: block;
width: 256px;
height: 45px;
font-size: 20px;
text-align: center;
line-height: 48px;
outline: none;
}
.button a {
color : white;
display : block;
width : 100%;
height : 100%;
background : transparent url(images/button.png) no-repeat left top;
outline : none;
text-indent : inherit;
}
.button a:hover {
background-position : 0% -45px;
}
.black_overlay{
display:none;
position:absolute;
top:0%;left:0%;
width:100%;
height:100%;
background-color:black;
z-index:1001;
-moz-opacity:0.6;
opacity:.60;
filter:alpha(opacity=60);
}
#deletebt
{
	position:relative;
	display: block;
	float:right;
	padding-bottom:0px;
	margin-bottom: 0px;
	z-index:1103;
}
.filedel
{
	float:right;
	display: block;
	position:relative;
	margin-right: 20px;
	margin-top: -130px;
	width: 30px;
	height: 30px;
	background: transparent url('fancybox.png');
	cursor: pointer;
	z-index: 1103;
	
}
.filecan
{
	float:right;
	display: block;
	position:relative;
	margin-right: 20px;
	margin-top: -150px;
	width: 30px;
	height: 30px;
	background: transparent url('fancybox.png')0px 30px;
	cursor: pointer;
	z-index: 1103;
	
}
#deleteck
{
	float:right;
	display: block;
	position:relative;
	margin-right: 20px;
	margin-top: -50px;
	z-index: 1103;
}
.fileupload-groupselect
{

	float:left;
	width:100%;
}
.header
{
	height:30px;
	line-height:30px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	
	font-size: 13px;
	text-transform: uppercase;
}
.header a
{
	color:white;
}
.header a:hover
{
		color:#09f;
}
.right_ab
{
	float:right;
}
.container
{
margin: 5px 0 0 20px;
}

.am-container a
{
	color:white;
}.am-container a:hover
{
	color:white;
}
.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}

.am-wrapper img{
	position:absolute;
	outline:none;
}
#comments_replay
{
	margin:10px;
	border-bottom: 1px solid #09F;
}
#comments_text img
{
	max-width:300px;
	max-height:200px;
}



#group_show 
{
	width:295px;
	height:120px;
	margin:20px 0px 0px 20px;	
	float:left;
	background-color:#51f2f8;
}
#group_information
{
	position:relative;
	width:150px;
	min-height:20px;
	max-height:60px;
	float:left;
	background-color:#70f851;
	margin:6px 0px 0px 10px;
}
.group_picture
{
	height:80px;
	width:70px;
	float:left;
}
#group_offer
{
	float:left;
	width:650px;
	min-height:300px;
	background-color:#fb3c64;
}
#group_find
{
	float:left;
	width:200px;
}
#group_back
{
	float:left;
	background-color:#d4d4d4;
	width:980px;
	margin:0px 0px 20px 10px;
}
#group_text
{
	margin:30px 0px 20px 50px;
}
#group_welcomepicture
{	
	position:absolute;
}
#groupid_show
{
	float:left;
	width:650px;
	min-height:300px;
	background-color:#fb3c64;
	
}

